@font-face {
    font-family: 'Anonymous Pro';
    src: url(../font/AnonymousPro.ttf);
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Anonymous Pro';
  line-height: 1.5em;
  background-color: #0a0d0c;
}
footer{
  border-top: 1px solid #54ab8e;
}
footer p{
color: #446660;
}
.header{
  border-bottom: 1px solid #54ab8e;
  padding-left: 2em;
}
.header a{
  text-decoration: none;
  color: #54ab8e;
}
@media(min-width: 1px){
 .blob{
   display: grid;
   grid-template-columns: 60% auto;
   grid-gap: 1em;
   margin: 2em;
   margin-top: 4em;
 }
}
.blob p{
  color: #446660
}

.block-content{
  box-sizing: border-box;
}

.block-menu{
  box-sizing: border-box;
  position: sticky;
  margin: 1em;
  top: 1vw;
  left: 60%;
  overflow: scroll;
  height: 400px;

}
.block-menu h1{
  color: #54ab8e;
}

.block-content h1{
  color: #54ab8e;
  border-bottom: 1px solid #54ab8e;
  font-size: 1.8em;
  box-shadow: 0 4px 6px -6px #54ab8e;
}

.block-content h2{
  color: #54ab8e;
  border-bottom: 1px dashed #54ab8e;
  font-size: 1.3em;
  box-shadow: 0 4px 6px -6px #54ab8e;
}

.blob a {
  color: #99d1c2;
  position: relative;
  text-decoration: none;
  transition: color .4s ease-out;
}
.blob a:hover {
    color: #adeddc;
    text-decoration: none;
}
.blob a:hover::after {
    border-color: #adeddc;
    right: 0;
}
.blob a::after {
    border-radius: 1em;
    border-top: .1em solid #adeddc;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1),
    border-color .4s ease-out;
}
.block-content img{
  width: 70%;
  height: auto;
}
li{
  list-style-type: ">";
  color: #54ab8e;
}
.spacer1 {
    height: 10vw;
    width: max-content;
}
.spacer2 {
    height: 5vw;
    width: max-content;
}
.spacer3 {
    height: 2vw;
    width: max-content;
}

