body{
  font-family: Anonymous Pro;
  line-height: 1.5;
}

@media(min-width: 1px){
 .blob{
   display: grid;
   grid-template-columns: auto;
   grid-gap: 1em;
   width: 100%;
 }
}

.block-conten{
  box-sizing: border-box;
}

.block-menu{
  box-sizing: border-box;
}

h1{
  border-bottom: 1px solid #ffffff;
  font-size: 1.6em;
}
